<div ng-if="rtCtrl.pageShowing=='includes/dynamic_requester_ReadOne_UD.html'">
  <div class="listContainer">
    <div ng-if="rtCtrl.ReadOneSubShowing!='update'">
      <div class="divListItem_header">{{rtCtrl.theRequesterTask.task_name}}</div>
      <div>Date Needed: {{rtCtrl.theRequesterTask.date_needed}}</div>
      <div>Details: {{rtCtrl.theRequesterTask.details}}</div>
      <div>Expected duration: {{rtCtrl.theRequesterTask.duration}}</div>
      <div>Zip Code:{{rtCtrl.theRequesterTask.location}}</div>
      <div class="divListItem_author">posted by: {{rtCtrl.theRequesterTask.elder.name}}</div>
    </div>
    <div class=""></div><br><br>
    <!-- NOTE: rtCtrl.ReadOneSubShowing is reintialized in rtCtrl.getTasksByElder -->
    <a ng-click="rtCtrl.ReadOneSubShowing='delete'" ng-if="rtCtrl.ReadOneSubShowing!='delete'">
        delete task
    </a><br><br>
    <div ng-if="rtCtrl.ReadOneSubShowing=='delete'">
        Are you sure?<br><br> <a>Yes, delete this entry</a>
    <div>
    <a ng-click="rtCtrl.ReadOneSubShowing='update'" ng-if="rtCtrl.ReadOneSubShowing!='update'">
        update task
    </a>
    <div ng-if="rtCtrl.ReadOneSubShowing=='update'">
      <form class="" action="index.html" method="put">
        Make a new Request<br>
        <input type="text"  placeholder="{{rtCtrl.theRequesterTask.task_name}}"><br>
        <input type="text"  placeholder="{{rtCtrl.theRequesterTask.date_needed}}"><br>
        <input type="text"  placeholder="{{rtCtrl.theRequesterTask.details}}"><br>
        <input type="text"  placeholder="{{rtCtrl.theRequesterTask.duration}}"><br>
        <input type="text"  placeholder="{{rtCtrl.theRequesterTask.location}}"><br>
      </form>
    </div>
  </div>
</div>
