<div ng-if="rtCtrl.pageShowing=='includes/dynamic_requester_ReadOne_UD.html'">
  <div class="listContainer">
    <div>
      <div class="divListItem_header">{{rtCtrl.theRequesterTask.task_name}}</div>
      <div>Date Needed: {{rtCtrl.theRequesterTask.date_needed}}</div>
      <div>Details: {{rtCtrl.theRequesterTask.details}}</div>
      <div>Expected duration: {{rtCtrl.theRequesterTask.duration}}</div>
      <div>Zip Code:{{rtCtrl.theRequesterTask.location}}</div>
      <div class="divListItem_author">posted by: {{rtCtrl.theRequesterTask.elder.name}}</div>
    </div>
    <div class=""></div><br><br>
    <!-- NOTE: rtCtrl.ReadOneSubShowing is reintialized in rtCtrl.getTasksByElder -->
    <div ng-if="rtCtrl.ReadOneSubShowing!='delete'">
      <a ng-click="rtCtrl.ReadOneSubShowing='delete'">
          delete task
      </a><br><br>
    </div>
    <div ng-if="rtCtrl.ReadOneSubShowing=='delete'" class="listContainer">
        Are you sure?<br><br>
        <form class="" ng-submit="rtCtrl.deleteTask()">
          <input type="submit" value="Delete this task">
        </form>
    </div>
    <div ng-if="rtCtrl.ReadOneSubShowing!='update'">
      <a ng-click="rtCtrl.ReadOneSubShowing='update'"><br>
          update task
      </a>
    </div>
    <div ng-if="rtCtrl.ReadOneSubShowing=='update'" class="listContainer">
      <form class="" ng-submit="rtCtrl.updateTask()">
        Update Request<br>
        Title:<br>
        <input type="text" ng-model="rtCtrl.title" placeholder="{{rtCtrl.theRequesterTask.task_name}}"><br>
        <br>Date needed:<br>
        <input type="text" ng-model="rtCtrl.date_needed" placeholder="{{rtCtrl.theRequesterTask.date_needed}}"><br>
        <br>Details:<br>
        <input type="text" ng-model="rtCtrl.details" placeholder="{{rtCtrl.theRequesterTask.details}}"><br>
        <br>Estimated Duration:<br>
        <input type="text" ng-model="rtCtrl.duration" placeholder="{{rtCtrl.theRequesterTask.duration}}"><br>
        <br>Location:<br>
        <input type="text" ng-model="rtCtrl.location" placeholder="{{rtCtrl.theRequesterTask.location}}"><br>
        <!-- <br>Volunteer name:<br>
        <input type="text" ng-model="rtCtrl.volunteerName" placeholder="{{rtCtrl.theRequesterTask.volunteer_name}}"><br>
        <br>Volunteer phone:<br>
        <input type="text" ng-model="rtCtrl.volunteerPhone" placeholder="{{rtCtrl.theRequesterTask.volunteer_phone}}"><br>
        <br>Volunteer email:<br>
        <input type="text" ng-model="rtCtrl.volunteerEmail" placeholder="{{rtCtrl.theRequesterTask.volunteer_email}}"><br> -->
        <input type="submit" value="Update Request">
      </form>
    </div>
  </div>
</div>
