<div id="nav" id="nav">

  <a ng-click="rtCtrl.pageShowing='includes/dynamic_landing.html'" class="home">e l d e r - h e l p e r</a><br><br>
  <div ng-if="rtCtrl.loggedIn==false">
    <a ng-click="rtCtrl.displayRegistration=!rtCtrl.displayRegistration" class="reg">
      Register
    </a>
    <div ng-if="rtCtrl.displayRegistration==true">
      <form ng-submit="rtCtrl.registration(userReg)">
        <input type="text" ng-model="rtCtrl.elderName" placeholder="name"/>
        <input type="text" ng-model="rtCtrl.elderEmail" placeholder="email"/>
        <input type="text" ng-model="userReg.username" placeholder="username"/>
        <input type="password" ng-model="userReg.password" placeholder="password"/>
        <input type="submit"/>
      </form>
    </div>
  </div>
  <br><br>

  <!--Begin login form for jwt -->


  <div>
    <div ng-if="rtCtrl.loggedIn==false" class="loginContainer_small">
      <form ng-submit="rtCtrl.login(elderPass)">
        Login:
        <input type="text" ng-model="elderPass.username" placeholder="username"/>
        <input type="password" ng-model="elderPass.password" placeholder="password"/>
        <input type="submit"/>
      </form>
    </div>
    <div ng-if="rtCtrl.loggedIn==true">
      Logged in &emsp;&emsp;<a ng-click="rtCtrl.logout()">Log Out</a>
    </div>
  <div>
    <!-- log out  -->


</div>
