<div id="nav">

  <a ng-click="rtCtrl.pageShowing='includes/dynamic_landing.html'">ElderHelper</a>&emsp;

  <!--Begin login form for jwt -->

  

  <form ng-submit="rtCtrl.login(elderPass)">
      <input type="text" ng-model="elderPass.username" placeholder="username"/>
      <input type="password" ng-model="elderPass.password" placeholder="password"/>
      <input type="submit"/>
    </form>
    <p>Logged in as: {{rtCtrl.elder.username}}</p>
    <!-- log out  -->
    <a href="#" ng-click="rtCtrl.logout()">Log Out</a>

</div>
